.placeholder-link {
    text-decoration: underline;
}

.column-left, .column-right {
    overflow-y: auto;
}

.metric-active {
    color: #1e0fbe;
    cursor: pointer;
    border-bottom:1px dotted #1e0fbe;
}

.metric-active:active {
    color: #ff0000;
}

.metrics-info-link {
    float: right;
}

#analyze-text {
    margin-bottom: 20px;
}

#clean-text {
    margin-bottom: 20px;
}

#user-text {
    position: relative;
    margin-bottom: 20px;
    min-height: 150px;
    outline: none;
}

#text-placeholder {
    position: absolute;
    left: 15px;
    top: 0;
    z-index: -10;
    color: #b3b3b3;
}

#spinner-container {
    height: 400px;
}

#synonyms-button {
    cursor: pointer;
}

.glyphicon-ok-circle {
    color: darkgreen;
}

.glyphicon-ban-circle {
    color: darkred;
}

.strike-through {
    text-decoration: line-through;
}