{% extends 'base.html' %}

{% block content %}

<div class="container">


  <script src="/static/js/about.js"></script>

<h2>About</h2>
  <p>Stop words are not good</p>


<h3>Light verbs</h3>
<p>Light verbs are verb that have little meaning on their own, almost like filler verbs. While light verbs are certainly not wrong, be careful about using them too often. It can make your writting filled with fluff. Sentences with light verbs often contain nouns that could replace the light verb. For example:</p>
<p>I did the review of your text</p>
<p>This could become:</p>
<p>I reviewed your text</p>


</div>

  {% endblock %}