{% extends 'base.html' %}

{% block content %}

<div class="container">

<script src="/static/js/about.js"></script>

<h2>About</h2>
<p>StyleStudio reads through your writing and provides valuable information back to you. There are plenty of apps that correct spelling and grammar, so StyleStudio skips that and goes right into the actual style of writing. It looks at how complex your writing is - will your readers be able to follow it? It looks for language that drags on your writing and brings these parts to your attention.</p>

<p>Here are some specific components it calculates:</p>

<h3>Flesh-Kincaid reading ease test</h3>
	<p>This test tells you how difficult a text is to understand. The score provided by StyleStudio tells you what grade education is required to understand your text.

<h3>Sentences to review</h3>
<p>StyleStudio reads through text and finds sentences that have both light verbs and nominalizations. Then it checks if the nominalization is an especially common word or if it's at the end of the sentence. If neither of those instances are true, it suggests the that the sentence could be reworded to make it stronger. In many cases, the writing is fine as is. However, it may find some sentences that would be better after being reworked.</p>

<h3>Light verbs</h3>
<h4>What are light verbs?</h4>
<p>Light verbs are verb that have little meaning on their own, almost like filler verbs. While light verbs are certainly not wrong, be careful about using them too often. It can make your writting filled with fluff. Sentences with light verbs often contain nouns that could replace the light verb. For example:</p>
<h5>"I did the review of your text"</h5>
<p>This could become:</p>
<h5>"I reviewed your text"</h5>

<h4>Why should they be avoided?</h4>

<p>We don't need to avoid all light verbs, but we do want to avoid overusing them. Light verbs can create nominalizations (see the nominalization blog post for more), which can be a drag on an otherwise clean writing style.</p>

<p>Light verbs may contain meaning, or sometimes even a little meaning, so they should not be removed without thought. The point of highlighting them is to suggest you reread those sentences and see if there is a way you can drive the sentence better without the use of a light verb.</p>


<h4>What are all the light verbs?</h4>
<p>There's no official list, but I include any form of the following verbs:  *to do*, *to have*, *to make*, *to be*, *to take*, *to begin*, *to get*, *to go*, *to give*, *to put*, *to feel*, *to begin*.</p>

<h4>How many light verbs is too many?</h4>

<p>Light verbs are very common in text. In fact, 30-45% of the verbs used in many texts in the literary canon are light verbs. As long as writing 

<img src="/static/images/light_verbs.png" alt="Light verb usage">


<h3>Nominalizations</h3>
<p>Nominalizations are nouns that are converted verbs or adjectives. For example, examine the following sentence:</p>

<h5>"We made an expansion into a new business sector"</h5>

<p>In this case, the verb "expand" has been nominalized into "expansion". This sentence contains a light verb and an unnecessarily large noun that weigh the sentence down, forcing the reader to pause in the middle of the sentence. This could be restructured to:</p>

<h5>"We expanded into a new business sector"</h5>

<p>Now the verb drives the sentence forward and the noun is removed.</p>

<p>Nominalization also occurs with adjectives. For example, the sentence "She has honesty" has an unecessary nominalization that can be removed by using "She is honest". Again, the nominalization weighed down the sentence without adding additional information.</p>


<p>Nominalization isn't grammatically incorrect, but it can be a sign of bad writing. Sometimes nominalization isn't a bad thing, such as when the nominalized noun will be more familiar to people, such as "consultant". And there are times when you do want a pause in a sentence, especially at the end. In these cases, it is perfectly acceptable to leave nominalizations in.</p>


</div>

  {% endblock %}