{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/about.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <p class="text-large">Have you ever wanted to have your writing ready by someone who's read thousands of classic best-sellers? Or had your newspaper article read by someone who's ready every NYTimes article in the last century? Well now you can. Introducing Sappho. Sappho has been (will be) trained on hundreds of classic texts to understand what makes a great writing style. Note: At this time, Sappho is in an early beta mode. Questions or comments? Email me at: <a target="_blank" href="mailto:info.sappho@gmail.com">info.sappho@gmail.com</a>.</p>

                <br>
                <br>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}