{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <form role="form" method='POST' action='#'>
      <textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

  <br>
  {% for error in errors %}
  <h4>{{ error }}</h4>
  {% endfor %}
  <br>
</div>
<div class="col-sm-5 col-sm-offset-1">
  {% if results %}
  <h2>Frequencies</h2>
  <br>
  <div id="results">
    <table class="table table-striped" style="max-width: 300px;">
      <thead>
        <tr>
          <th>Word</th>
          <th>Count</th>
        </tr>
      </thead>
      {% for result in results%}
      <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</div>
<br>
<br>



{% endblock %} -->