{% extends 'base.html' %}

{% block javascript %}
<link href="/static/css/main.css" rel="stylesheet">
<script type="text/javascript" src="/static/spin/spin.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  </div>
  <div class="row">
<!--         <div class="col-md-8 column-left">
            <div class="pretty-text" id="text-entry" contenteditable="true"></div>
            <div class="pretty-text" id="text-placeholder">Enter your text here</div>
          </div> -->
          <form role="form" method='POST' action='#'>
            <textarea class="form-control" id="user-text" name="contents" placeholder="Enter up to 2000 words at a time"></textarea>
            <button type="button" id="analyze-button" class="btn btn-success btn-lg">Go!</button>
          </form>
        </div>
        <script src="/static/js/main_page.js"></script>

        <div class="container">
          <h2>Results</h2>

          <div class="row">

            <div class="col-md-4 column-right">

              <div id="metrics-tables" class="wrap">
                <table class="table table-striped" style="max-width: 1000px;">
                  <thead>
                    <tr>
                      <th>Metric</th>
                      <th>Result</th>
                    </tr>
                  </thead>

                  <tr> <td>Words</td> <td id="num-words"></td> </tr>
                  <tr> <td>Sentences</td> <td id="num-sentences"></td> </tr>
                  <tr> <td>Number of unique words</td> <td id="unique-words"></td> </tr>
                  <tr> <td>Average word size</td> <td id="ave-words"></td> </tr>
                  <tr> <td>Reading grade level</td> <td id="fk-score"></td> </tr>

                </table>
              </div>
            </div>
          </div>

<h2>Sentences to review</h2>



<table class="table table-bordered table-striped table-condensed table-hover" id="table2">
    <thead>
        <tr>
            <th>Sentence number</th>
            <th>Sentence</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


              {% endblock %}