{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <form role="form" method='POST' action='#'>
      <textarea class="form-control" id="user-text" name="contents" placeholder="Enter your text here"></textarea>
      <button type="button" id="analyze-button" class="btn btn-default">Go!</button>
    </form>
  </div>

  <script src="/static/js/main_page.js"></script>

  <div class="container">
    <h2>Results</h2>

    <div class="row">

      <div class="col-md-4 column-right">

        <div id="metrics-tables">
          <table class="table table-striped" style="max-width: 300px;">
            <thead>
              <tr>
                <th>Metric</th>
                <th>Result</th>
              </tr>
            </thead>

            <tr> <td>Words</td> <td id="num-words"></td> </tr>
            <tr> <td>Average word size</td> <td id="ave-words"></td> </tr>
            <tr> <td>Reading grade level</td> <td id="fk-score"></td> </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <form method="POST" action="#">
      <textarea class="form-control" name="contents" placeholder="Are we missing something? Enter your feature requests here!"></textarea>
      <button type="submit" class="btn btn-default">Send request</button>
    </form>
  </div>

  {% endblock %}