{% extends 'base.html' %}

{% block content %}
<body>

    <div class="container">

     {% for comment in comments %}
     <div class="row">
        {{ comment.content }}
    </div>
    {% endfor %}

    <div class="row">
        <form action="." method="POST">
            <textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
            <input type="submit" value="Post comment">
        </form>
    </div>

    <div class="row">
        <form action="." method="POST">
        <textarea class="form-control" name="feature_contents" placeholder="Enter your feature requests here!"></textarea>
            <input type="submit" value="Send request">
        </form>
    </div>
</div>

</body>
</html>

{% endblock %} -->